*{
    margin: 5px;
    padding: 5px;
}
body, html {
    margin: 25px;
    padding: 100px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

.container {
    align-items: center;
    justify-content: center;
    background: url(images.png);
    width: 100%;
    margin: 0 auto;
    background-position: center;
    background-size: cover;
    height: 120vh;
}
h1{
    color: rgb(3, 21, 57);
    font-family: 'Times New Roman';
    text-align: center;
}
h5{
    color: rgba(6, 7, 74, 0.683);
    font-family: 'Times New Roman';
}
h4{
    color: rgb(97, 99, 101);
    padding-top: 20px;
    padding-bottom: 2px;
    
}
.btnn{
    width: 100px;
    height: 30px;
    background: rgb(77, 77, 79);
    border: none;
    margin-top: 3px;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
    color: white;
    transition: .4s ease;
}
.btnn:hover{
    background: rgb(87, 3, 28);
    color: orange;

}

.btnn a{
    text-decoration: none;
    font-family: Helvetica;
    color: rgb(170, 11, 11);
    font-weight: bold;
}